In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import joblib

In [2]:
data=pd.read_csv('heart.csv')
data.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,target
0,63,1,3,145,233,1,0,150,0,2.3,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,1
2,41,0,1,130,204,0,0,172,0,1.4,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,1

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
target      0
dtype: int64

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  target    303 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 28.5 KB

In [5]:
data.groupby('target').mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope
target,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939

In [6]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,1.000000

In [7]:
#SPLITTING TEST AND TRAIN DATA
X = data.drop(columns='target', axis=1)
Y = data['target']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.35, stratify=Y, random_state=2)

In [8]:
from sklearn.ensemble import RandomForestClassifier
RFCHeartModel = RandomForestClassifier(random_state=5)
RFCHeartModel.fit(X_train, Y_train)

RandomForestClassifier(random_state=5)

In [9]:
X_train_predict = RFCHeartModel.predict(X_train)
train_accuracy = accuracy_score( np.round(abs(X_train_predict)), Y_train )

X_test_predict = RFCHeartModel.predict(X_test)
test_accuracy = accuracy_score(np.round(abs(X_test_predict)) ,Y_test)

print('Training data Accuracy: ', train_accuracy*100 ,'%')
print('Test data Accuracy: ', test_accuracy*100 ,'%')

Training data Accuracy:  100.0 %
Test data Accuracy:  82.2429906542056 %

In [10]:
from sklearn.ensemble import RandomForestRegressor
RFRHeartModel = RandomForestRegressor(random_state=25)
RFRHeartModel.fit(X_train, Y_train)

RandomForestRegressor(random_state=25)

In [11]:
X_train_predict = RFRHeartModel.predict(X_train)
train_accuracy = accuracy_score( np.round(abs(X_train_predict)), Y_train )

X_test_predict = RFRHeartModel.predict(X_test)
test_accuracy = accuracy_score(np.round(abs(X_test_predict)) ,Y_test)

print('Training data Accuracy: ', train_accuracy*100 ,'%')
print('Test data Accuracy: ', test_accuracy*100 ,'%')

Training data Accuracy:  100.0 %
Test data Accuracy:  80.37383177570094 %

In [12]:
joblib.dump(RFCHeartModel,'RFCHeartModel.pkl')

['RFCHeartModel.pkl']

In [13]:
joblib.dump(RFRHeartModel,'RFRHeartModel.pkl')

['RFRHeartModel.pkl']

In [14]:
RFCHeart=joblib.load('RFCHeartModel.pkl')
RFRHeart=joblib.load('RFRHeartModel.pkl')
input_data = (44,1,0,112,290,0,0,153,0,0,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)
# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

In [15]:
PredictRFCHeart= RFCHeart.predict(input_data_reshaped)
PredictRFRHeart= RFRHeart.predict(input_data_reshaped)


print(PredictRFCHeart[0])
if (PredictRFCHeart[0]== 0):
  print('No Heart Disease')
else:
  print('Heart Disease')

print(PredictRFRHeart[0])
print('Possiblility : ',PredictRFRHeart[0]*100 ,'%')

0
No Heart Disease
0.28
Possiblility :  28.000000000000004 %