In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [2]:
# Load dataset
df_diabetes = pd.read_csv('diabetes.csv')

In [3]:
#pd.read_csv? 'it helps to know about parameters of this function
#df_diabetes.shape 'it  return total number of rows & col in the form (row , col)
df_diabetes.head(5) #return top 5 rows

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:

df_diabetes.describe() #'give statistical measure like count , mean , min etc

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
df_diabetes['Outcome'].value_counts() #count values of 0 and 1 in outcome , 1 is diabetes +

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
df_diabetes.groupby('Outcome').mean() # calcuate mean for all row in value 0 & 1

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [7]:
# separating the data and outcome
X= df_diabetes.drop(columns = 'Outcome', axis=1)
Y = df_diabetes['Outcome']
#print(X)
#print(Y)

In [8]:
#defining train and test variables for data and outcome
#test_size= 0.1 means 10% of data is used for testing and 80% is used for traninig
#Stratify for outcome 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape) #showing how many rows used for training and testing and total

(768, 8) (614, 8) (154, 8)

In [9]:
#TRAINING THE MODEL 
#Loading SUPPORT VECTOR MACHINE for model training 
classifier = svm.SVC(kernel='linear')
classifier.fit(X_train, Y_train) #this will traing the model , for larger data it may take time

SVC(kernel='linear')

In [10]:
# accuracy score of the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

# accuracy score of the testing data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)
print('Accuracy of training data : ', training_data_accuracy)
print('Accuracy of test data : ', test_data_accuracy)

Accuracy of training data :  0.7833876221498371
Accuracy of test data :  0.7727272727272727

In [11]:
import joblib
filename='diabetesSVM.pkl'
joblib.dump(classifier ,filename)

['diabetesSVM.pkl']

In [12]:
temp={}
temp['pregnancies']=1
temp['glucose']=85
temp['blood_pressure']=66
temp['skin_th']=29
temp['insulin']=0
temp['bmi']=26.6
temp['dpf']=0.351
temp['age']=31

In [13]:
testDtaa=pd.DataFrame({'x':temp}).transpose()
testDtaa

    age  blood_pressure   bmi    dpf  glucose  insulin  pregnancies  skin_th
x  31.0            66.0  26.6  0.351     85.0      0.0          1.0     29.0

In [14]:

loaddiabetesSVM=joblib.load('diabetesSVM.pkl')
loaddiabetesSVM.predict(testDtaa)[0]

0

In [15]:
if (loaddiabetesSVM.predict(testDtaa)[0] == 0):
  print('Not Diabetic')
else:
  print('Diabetic')

Not Diabetic