In [52]:
import pandas as pd
import numpy as np
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper

In [53]:
data=pd.read_csv('liver.csv')
data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [54]:
#data.isnull().sum() #found missing values preprocessing required
#data.info()

In [56]:
#DATA PREPROCESSING 
data= data.dropna() #Drpooing rows with missing values
data.loc[data['Dataset'] == 2, 'Dataset'] = 0 #replacing with 0 in place of 2 where 2 is non liver patient 
data['Gender'].value_counts()

Male      439
Female    140
Name: Gender, dtype: int64

In [57]:
data.loc[data['Gender'] == 'Male', 'Gender'] = 1 #set string male to int 1
data.loc[data['Gender'] == 'Female', 'Gender'] = 0 #set string female to int 0

In [58]:
data['Dataset'].value_counts() #here Dataset is result with 1 being liver patient and 0  being non liver patient

1    414
0    165
Name: Dataset, dtype: int64

In [59]:
data['Gender'].value_counts() # 1 = male and 0 = female

1    439
0    140
Name: Gender, dtype: int64

In [60]:
data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Dataset                       0
dtype: int64

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 579 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         579 non-null    int64
 1   Gender                      579 non-null    object
 2   Total_Bilirubin             579 non-null    float64
 3   Direct_Bilirubin            579 non-null    float64
 4   Alkaline_Phosphotase        579 non-null    int64
 5   Alamine_Aminotransferase    579 non-null    int64
 6   Aspartate_Aminotransferase  579 non-null    int64
 7   Total_Protiens              579 non-null    float64
 8   Albumin                     579 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     579 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 54.3+ KB

In [62]:
mapper = DataFrameMapper([
                        (['Age','Gender','Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase','Alamine_Aminotransferase','Aspartate_Aminotransferase','Total_Protiens','Albumin','Albumin_and_Globulin_Ratio'], preprocessing.StandardScaler())
                        ])
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [63]:
X=['Age','Gender','Total_Bilirubin','Direct_Bilirubin','Alkaline_Phosphotase','Alamine_Aminotransferase','Aspartate_Aminotransferase','Total_Protiens','Albumin','Albumin_and_Globulin_Ratio']
Y=['Dataset']
pipeline_obj.fit(data[X],data[Y])
pipeline_obj.predict(data[X])

c:\users\dell\miniconda3\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

array([0.81, 0.99, 0.99, 0.84, 1.  , 0.81, 0.8 , 0.83, 0.06, 0.96, 0.97,
       0.96, 0.29, 0.84, 0.82, 0.33, 0.92, 0.2 , 1.  , 1.  , 0.95, 0.98,
       1.  , 0.92, 0.19, 1.  , 1.  , 0.99, 0.15, 0.12, 0.96, 0.84, 0.08,
       0.12, 0.12, 0.97, 0.18, 1.  , 0.91, 1.  , 0.83, 0.29, 0.39, 0.97,
       0.24, 0.31, 0.9 , 0.98, 0.89, 1.  , 0.83, 0.73, 0.98, 0.89, 0.97,
       0.97, 0.2 , 0.28, 0.85, 0.12, 0.84, 0.9 , 0.9 , 0.88, 0.96, 0.9 ,
       0.83, 0.87, 0.76, 0.27, 0.9 , 0.89, 0.83, 0.78, 0.75, 0.22, 0.83,
       0.95, 0.26, 0.93, 0.98, 0.87, 0.27, 0.93, 0.83, 0.81, 0.25, 0.96,
       0.87, 1.  , 1.  , 1.  , 1.  , 1.  , 0.99, 0.9 , 1.  , 0.99, 0.97,
       0.96, 0.14, 0.26, 0.79, 0.28, 0.79, 0.08, 0.08, 0.1 , 0.1 , 0.33,
       0.22, 0.98, 0.25, 0.85, 0.38, 0.3 , 0.93, 1.  , 1.  , 1.  , 1.  ,
       0.99, 0.38, 0.85, 0.2 , 0.23, 0.99, 0.95, 0.88, 0.98, 0.96, 0.31,
       0.18, 0.88, 0.77, 1.  , 1.  , 1.  , 1.  , 0.86, 0.22, 0.99, 0.95,
       0.95, 0.97, 0.08, 0.97, 0.81, 0.78, 0.88, 0.19, 0.82, 0.81, 0.19,
       0.96, 0.99, 0.97, 0.98, 0.98, 0.96, 0.97, 1.  , 0.99, 0.97, 0.97,
       0.97, 0.99, 0.99, 0.99, 1.  , 0.96, 0.98, 0.97, 0.96, 0.96, 0.8 ,
       0.99, 0.98, 0.99, 0.99, 0.88, 0.95, 0.27, 0.82, 0.77, 0.23, 1.  ,
       0.92, 0.95, 0.25, 0.99, 1.  , 0.94, 0.21, 0.28, 0.9 , 0.91, 0.8 ,
       0.29, 0.91, 0.98, 0.98, 0.16, 0.06, 0.16, 0.92, 1.  , 1.  , 0.91,
       0.77, 1.  , 0.36, 0.84, 0.89, 0.29, 0.28, 0.79, 0.15, 0.85, 0.87,
       0.73, 0.95, 0.19, 0.93, 0.78, 0.85, 0.78, 0.15, 0.95, 0.19, 0.87,
       0.96, 0.88, 0.95, 0.93, 0.29, 0.83, 0.15, 0.88, 0.26, 0.69, 0.92,
       0.83, 0.97, 0.94, 0.74, 0.87, 0.97, 0.97, 0.85, 0.24, 0.14, 0.92,
       0.94, 0.97, 0.17, 1.  , 1.  , 0.96, 0.86, 0.75, 0.32, 0.14, 0.79,
       0.77, 0.99, 0.86, 0.79, 0.34, 0.95, 0.88, 0.81, 0.2 , 0.17, 0.81,
       0.9 , 0.78, 0.95, 0.18, 0.85, 0.2 , 0.87, 0.86, 0.73, 0.2 , 0.91,
       0.97, 0.93, 0.12, 0.93, 0.11, 0.87, 0.78, 0.9 , 0.17, 0.84, 0.13,
       0.08, 0.97, 0.88, 0.16, 0.77, 0.15, 0.96, 0.78, 0.84, 0.93, 0.78,
       0.99, 0.22, 0.95, 0.07, 0.25, 0.92, 0.95, 0.21, 0.89, 0.85, 0.85,
       0.26, 0.89, 0.13, 0.27, 0.3 , 0.16, 0.12, 0.84, 0.95, 0.99, 0.14,
       0.75, 0.76, 0.98, 0.96, 0.94, 0.94, 0.93, 0.95, 0.32, 0.98, 0.22,
       0.98, 0.78, 0.98, 0.91, 0.24, 0.88, 0.73, 0.84, 0.96, 0.84, 0.25,
       0.94, 0.85, 0.79, 0.23, 0.86, 0.32, 0.19, 0.17, 0.15, 0.3 , 0.21,
       0.33, 0.89, 0.78, 0.98, 0.2 , 0.94, 0.13, 0.3 , 0.96, 0.85, 0.16,
       0.86, 0.22, 0.97, 0.7 , 0.79, 0.19, 1.  , 0.82, 0.33, 0.81, 0.83,
       0.89, 0.92, 0.88, 0.98, 0.98, 0.97, 0.17, 0.9 , 0.92, 0.83, 0.96,
       0.18, 0.95, 0.88, 0.09, 0.66, 0.81, 0.19, 0.9 , 0.99, 0.99, 0.97,
       0.33, 1.  , 0.28, 0.26, 0.93, 0.98, 0.22, 1.  , 0.97, 0.92, 0.24,
       0.97, 0.28, 0.77, 0.94, 0.19, 0.88, 0.25, 0.96, 0.81, 0.24, 0.75,
       0.23, 0.19, 0.18, 0.85, 0.77, 0.83, 0.84, 0.87, 0.9 , 0.99, 0.74,
       0.18, 0.35, 0.8 , 0.87, 0.76, 0.84, 0.98, 0.95, 0.89, 0.93, 0.24,
       0.67, 0.24, 0.21, 0.86, 0.8 , 0.86, 0.88, 0.77, 0.85, 0.17, 0.22,
       0.2 , 0.25, 0.92, 0.84, 0.85, 0.32, 0.25, 0.22, 0.28, 0.36, 0.92,
       0.84, 1.  , 0.99, 0.06, 1.  , 0.93, 0.23, 0.87, 0.99, 0.83, 0.99,
       0.14, 0.18, 0.88, 0.2 , 0.94, 0.19, 0.93, 0.18, 0.73, 0.95, 0.86,
       1.  , 0.91, 0.87, 0.92, 0.99, 0.98, 0.99, 0.99, 0.93, 1.  , 1.  ,
       0.18, 0.99, 0.29, 0.84, 0.93, 1.  , 0.74, 0.85, 1.  , 0.96, 0.87,
       0.98, 0.92, 0.74, 0.15, 0.22, 1.  , 1.  , 0.9 , 0.99, 0.11, 0.99,
       0.19, 0.99, 0.3 , 0.95, 1.  , 0.79, 0.92, 0.34, 0.28, 0.14, 0.17,
       0.77, 0.99, 0.2 , 1.  , 1.  , 0.98, 0.94, 0.95, 0.11, 0.84, 1.  ,
       0.98, 0.98, 0.82, 0.98, 0.99, 1.  , 1.  , 1.  , 1.  , 0.92, 0.26,
       0.88, 0.2 , 0.97, 0.98, 1.  , 0.96, 0.93, 0.87, 0.97, 0.99, 0.99,
       0.98, 0.95, 0.26, 0.94, 0.97, 0.77, 0.15])

In [64]:
import joblib
joblib.dump(pipeline_obj,'liverRFC.pkl')

['liverRFC.pkl']

In [113]:
temp={}
temp['Age']=65
temp['Gender']=0
temp['Total_Bilirubin']=0.7
temp['Direct_Bilirubin']=0.1
temp['Alkaline_Phosphotase']=187
temp['Alamine_Aminotransferase']=16
temp['Aspartate_Aminotransferase']=18
temp['Total_Protiens']=6.8
temp['Albumin']=3.3
temp['Albumin_and_Globulin_Ratio']=0.9

In [114]:
testDtaa=pd.DataFrame({'x':temp}).transpose()
testDtaa

,Age,Alamine_Aminotransferase,Albumin,Albumin_and_Globulin_Ratio,Alkaline_Phosphotase,Aspartate_Aminotransferase,Direct_Bilirubin,Gender,Total_Bilirubin,Total_Protiens
x,65.0,16.0,3.3,0.9,187.0,18.0,0.1,0.0,0.7,6.8

In [115]:
loadliverRFC=joblib.load('liverRFC.pkl')
print(loadliverRFC.predict(testDtaa)[0]*100,'% possibility of having liver disease')

81.0 % possibility of having liver disease